{% extends 'base.html.twig' %}

{% block body %}
<img class="img-responsive img-blog" src="{{asset('uploads/libros/')}}/{{libro.FotoName}}" width="100%" alt="" />
<div class="row">
<div class="col-xs-12 col-sm-2 text-center">
    <div class="entry-meta">
        <span id="publish_date">{{libro.FechaHora | date("d-m-Y")}}</span>
        <span><i class="fa fa-book">{{libro.Pagina}}</i> Páginas</span>
        <span><i class="fa fa-comment"></i>{{libro.Comentarios | length}} Comentarios</span>
        <span><i class="fa fa-user"></i>{{libro.Licencium.Alias}}</span>
    </div>
</div>
<div class="col-xs-12 col-sm-10 blog-content">
    <h2>{{libro.Nombre}}</h2>
    <h3>{{libro.Sinopsis}}</h3>
    <div class="post-tags">
        <strong>Tag:</strong> {%for categoria in libro.CategoriaLibros %}<a href="#">{{categoria.Categoria}}</a> / {%endfor%}
    </div>
</div>
</div>
<div class="row">
    <div class="col-sm-10 blog-content">
        <h3>Comentarios</h3>
        {% for comentario in libro.comentarios %}
        <div class="single_comments">
            <img src="{{ asset('bundles/principalbiblioteca/images/blog/avatar3.png') }}" />
            <p>{{comentario.Comentario}}</p>
            <div class="entry-meta small muted">
                <span>By: {{comentario.Usuario.Username}}</span>
            </div>
        </div>
        {% endfor %}
        {% if not app.user %}
            <h3><i class="fa fa-warning"></i> Debe iniciar sesión o registrarse para comentar.</h3>
        {% else %}
            {{ render(controller('PrincipalBibliotecaBundle:Comentario:new', { 'id': libro.id } )) }}
        {% endif %}
    </div>
</div>

    <ul>
        <li>
            <a href="{{ path('homepage') }}">Regresar al listado</a>
        </li>
    </ul>
{% endblock %}
