{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mis Libros</h1>

    <table id="datatable" class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Paginas</th>
                <th>Año</th>
                <th>Licencia</th>
                <th>Aprobado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for libro in libros %}
            <tr>
                <td><a href="{{ path('libro_show', { 'id': libro.id }) }}">{{ libro.Nombre }}</a></td>
                <td>{{ libro.Nombre }}</td>
                <td>{{ libro.Pagina }}</td>
                <td>{{ libro.Annio }}</td>
                <td>{{ libro.Licencium.Licencia }}</td>
                <td>{% if libro.Aprobado %}Sí{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('libro_show', { 'id': libro.id }) }}">ver</a>
                        </li>
                        <li>
                            <a href="{{ path('libro_edit', { 'id': libro.id }) }}">editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('libro_new') }}" class="btn btn-primary">Nuevo libro</a>
        </li>
    </ul>
{% endblock %}
