<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Xelalug | Biblioteca libre</title>
    
    <!-- core CSS -->
    <link href="{{ asset('bundles/principalbiblioteca/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/principalbiblioteca/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/principalbiblioteca/css/prettyPhoto.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/principalbiblioteca/css/animate.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/principalbiblioteca/css/main.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/principalbiblioteca/css/responsive.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
    {% block stylesheets %}{% endblock stylesheets %}
    <!--[if lt IE 9]>
    <script src="{{ asset('bundles/principalbiblioteca/js/html5shiv.js') }}"></script>
    <script src="{{ asset('bundles/principalbiblioteca/js/respond.min.js') }}"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="{{ asset('bundles/principalbiblioteca/images/ico/favicon.ico') }}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('bundles/principalbiblioteca/images/ico/apple-touch-icon-144-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('bundles/principalbiblioteca/images/ico/apple-touch-icon-114-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('bundles/principalbiblioteca/images/ico/apple-touch-icon-72-precomposed.png') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ asset('bundles/principalbiblioteca/images/ico/apple-touch-icon-57-precomposed.png') }}">
</head><!--/head-->

<body>

    <header id="header">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-4">
                    </div>
                    <div class="col-sm-6 col-xs-8">
                       <div class="social">
                            <ul class="social-share">
                                <li><a href="https://www.facebook.com/xelalug"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="http://xelalug.org"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                           </div>
                       </div>
                    </div>
                </div>
            </div><!--/.container-->
        </div><!--/.top-bar-->

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('homepage') }}"><img src="{{ asset('bundles/principalbiblioteca/images/logo.png') }}" alt="logo"></a>
                </div>
                
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{{ path('homepage') }}">Home</a></li>
                        {%if app.user %}
                            <li><a href="blog.html">Mis publicaciones</a></li> 
                            <li><a href="{{path('fos_user_security_logout')}}">Cerrar sesión</a></li>                        
                        {% endif %}
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
        
    </header><!--/header-->

    <section id="blog" class="container">
        <div class="center">
            <h2>Biblioteca libre</h2>
            <p class="lead">Libros con licencia Creative Commons</p>
        </div>
        <div class="blog"> 
            <div class="row">
                 <div class="col-md-8">
                    <div class="blog-item">
                        {% block body %}
                        {% endblock body %}
                    </div><!--/.blog-item-->
                        
                    {% block pagination %}
                    {% endblock %}
                 </div><!--/.col-md-8-->

                <aside class="col-md-4">
                    <!-- <div class="widget search">
                        <form role="form">
                                <input type="text" class="form-control search_box" autocomplete="off" placeholder="Search Here">
                        </form>
                    </div> -->		
                    {% if not app.user %}
                    <div class="widget categories">
                        {{ render(controller('FOSUserBundle:Security:login')) }}
                        Si aún no tienes cuenta puedes registrarte <a href="{{ path("fos_user_registration_register") }}">aqui</a>
                    </div><!--/.recent comments-->
	                {% endif%}
    				<div class="widget categories">
                        <h3>Comentarios recientes</h3>
                        {{ render(controller('PrincipalBibliotecaBundle:Comentario:index')) }}
                    </div><!--/.recent comments-->
                     

                    <div class="widget categories">
                        <h3>Categorias</h3>
                        {{ render(controller('PrincipalBibliotecaBundle:Categorium:index')) }}           
                    </div><!--/.categories-->
                </aside>  
            </div><!--/.row-->
        </div>
    </section><!--/#blog-->

    <section id="bottom">
        <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="row">
                <h3>Nuestros socios</h3>
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <a href="http://www.solucionestip.com/">
                        <h3>Tecnologías Informáticas Productivas S.A.</h3>
                        <img src="{{asset('bundles/principalbiblioteca/images/tip.png') }}"></a>
                    </div>    
                </div><!--/.col-md-3-->
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <a href="http://www.open-training.com/">
                        <h3>Open Training Guatemala</h3>
                        <img src="{{asset('bundles/principalbiblioteca/images/opt.png') }}"></a>
                    </div>    
                </div><!--/.col-md-3-->

            </div>
        </div>
    </section><!--/#bottom-->

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2013 <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">ShapeBootstrap</a>. All Rights Reserved.
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Faq</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="{{ asset('bundles/principalbiblioteca/js/jquery.js') }}"></script>
    <script src="{{ asset('bundles/principalbiblioteca/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/principalbiblioteca/js/jquery.prettyPhoto.js') }}"></script>
    <script src="{{ asset('bundles/principalbiblioteca/js/jquery.isotope.min.js') }}"></script>
    <script src="{{ asset('bundles/principalbiblioteca/js/main.js') }}"></script>
    <script src="{{ asset('bundles/principalbiblioteca/js/wow.min.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    {% block javascripts %}{%endblock javascripts %}
</body>
</html>
